//global
* {
  padding: 0;
  box-sizing: border-box;
}

html,body{
  overflow-x: hidden;
  background-color: #42E293!important;

}


main {
  min-height:100vh;
}

@media (min-width: 767.98px) {  
  .main-row {
    height:100vh;
  }
}

.blocs {
  border: 2px solid #000;
  box-shadow: 6px 6px 0px 0px #000;
  background-color: #E7E7F4;
}

i, a {
  cursor: pointer;
}




//colors
$theme-colors: (
  'primary': #0d6efd, 
  'secondary': #6c757d, 
  'success': #198754, 
  'info': #0DCAF0,
  'warning': #FFC107,
  'danger': #F24F4F, // to mood two
  'light': #fff, //to white
  'dark': #000, //to black
);

$custom-colors: (
    'green-ctm':  #42E293,
    'grey-ctm': #E7E7F4,
    'mood-one': #F24F4F,
    'mood-two': #F8598B,
    'mood-three': #F6A051,
    'mood-four': #FFE500,
    'mood-five':#42E293,

);

$theme-colors: map-merge($theme-colors, $custom-colors);

//custom font sizes
$font-sizes: (
  1: 0.625rem,   
  2: 0.875rem,    
  3: 1rem,       
  4: 1.25rem,     
  5: 1.5rem,    
  6:2rem,
  7:2.5rem,
  8:3rem
);

//custom input 
$input-border-radius: 0;
$input-focus-border-color: none;
$input-focus-box-shadow: none;

//custom btn
$btn-border-radius:0; 
$btn-border-width:  2px;
.btn-outline-dark {
  box-shadow:  4px 4px 0px #000;
} 

.btn-outline-mood-two {
  box-shadow: 4px 4px 0px var(--bs-mood-two) ;
} a {
  color:  var(--bs-mood-two)!important;
} .btn:hover a {
  color:  var(--bs-light)!important;

}


@import '/node_modules/bootstrap/scss/bootstrap.scss';
